<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitsalesplatform.mapper.LogtableMapper">
    <resultMap id="BaseResultMap" type="com.fruitsalesplatform.entity.Logtable">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="operateor" jdbcType="VARCHAR" property="operateor" />
        <result column="operateType" jdbcType="VARCHAR" property="operatetype" />
        <result column="operateDate" jdbcType="TIMESTAMP" property="operatedate" />
        <result column="operateResult" jdbcType="VARCHAR" property="operateresult" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, operateor, operateType, operateDate, operateResult, remark
  </sql>
    <select id="selectByExample" parameterType="com.fruitsalesplatform.example.LogtableExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from logtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from logtable
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from logtable
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.fruitsalesplatform.example.LogtableExample">
        delete from logtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.fruitsalesplatform.entity.Logtable">
    insert into logtable (id, operateor, operateType,
      operateDate, operateResult, remark
      )
    values (#{id,jdbcType=INTEGER}, #{operateor,jdbcType=VARCHAR}, #{operatetype,jdbcType=VARCHAR},
      #{operatedate,jdbcType=TIMESTAMP}, #{operateresult,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.fruitsalesplatform.entity.Logtable">
        insert into logtable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="operateor != null">
                operateor,
            </if>
            <if test="operatetype != null">
                operateType,
            </if>
            <if test="operatedate != null">
                operateDate,
            </if>
            <if test="operateresult != null">
                operateResult,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="operateor != null">
                #{operateor,jdbcType=VARCHAR},
            </if>
            <if test="operatetype != null">
                #{operatetype,jdbcType=VARCHAR},
            </if>
            <if test="operatedate != null">
                #{operatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="operateresult != null">
                #{operateresult,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fruitsalesplatform.example.LogtableExample" resultType="java.lang.Long">
        select count(*) from logtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update logtable
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.operateor != null">
                operateor = #{record.operateor,jdbcType=VARCHAR},
            </if>
            <if test="record.operatetype != null">
                operateType = #{record.operatetype,jdbcType=VARCHAR},
            </if>
            <if test="record.operatedate != null">
                operateDate = #{record.operatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.operateresult != null">
                operateResult = #{record.operateresult,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update logtable
        set id = #{record.id,jdbcType=INTEGER},
        operateor = #{record.operateor,jdbcType=VARCHAR},
        operateType = #{record.operatetype,jdbcType=VARCHAR},
        operateDate = #{record.operatedate,jdbcType=TIMESTAMP},
        operateResult = #{record.operateresult,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fruitsalesplatform.entity.Logtable">
        update logtable
        <set>
            <if test="operateor != null">
                operateor = #{operateor,jdbcType=VARCHAR},
            </if>
            <if test="operatetype != null">
                operateType = #{operatetype,jdbcType=VARCHAR},
            </if>
            <if test="operatedate != null">
                operateDate = #{operatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="operateresult != null">
                operateResult = #{operateresult,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fruitsalesplatform.entity.Logtable">
    update logtable
    set operateor = #{operateor,jdbcType=VARCHAR},
      operateType = #{operatetype,jdbcType=VARCHAR},
      operateDate = #{operatedate,jdbcType=TIMESTAMP},
      operateResult = #{operateresult,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>